/logs
*.log
/memory
memory/memory.db
memory/output/display.txt
memory/output/speech.txt
memory/output/display.txt
/tests/__pycache__
/llm/__pycache__
/hardware/__pycache__
/core/__pycache__
/utils/__pycache__
